---
import Layout from '../layouts/Layout.astro';
import 'bootstrap/dist/css/bootstrap.css'
---

<Layout title="TPM PORTAL">
	<main>

		<div class="row">
			<div class="col-4 appStage">
			  <a href="#">
				<img src="/appLogo/pp.png">
				<div class="appName">
				  <p class="f-12 mb-0">PP</p>
				  <p class="color-gray small">เข้าสู่ระบบ</p>
				</div>
			  </a>
			</div>

			<div class="col-4 appStage">
			  <a href="https://trade-in.toyotaparagon.com/app">
				<img src="/appLogo/trade-in.png">
				<div class="appName">
				  <p class="mb-0 f-12">พ่อสื่อ</p>
				  <p class="color-gray small">เข้าสู่ระบบ</p>
				</div>
			  </a>
			</div>

			<div class="col-4 appStage">
			  <a href="https://testdrive.toyotaparagon.com/sales/auth">
				<img src="/appLogo/test-drive.png">
				<div class="appName">
				  <p class="mb-0 f-12">TestDrive</p>
				  <p class="color-gray small">เข้าสู่ระบบ</p>
				</div>
			  </a>
			</div>
			<div class="col-4 appStage">
			  <a href="https://a77.toyotaparagon.com/auth">
				<img src="/appLogo/a.png">
				<div class="appName">
				  <p class="mb-0 f-12">A77</p>
				  <p class="color-gray small">เข้าสู่ระบบ</p>
				</div>
			  </a>
			</div>

			<div class="col-4 appStage">
			  <a href="#">
				<img src="/appLogo/thankgod.png">
				<div class="appName">
				  <p class="mb-0 f-12">ThankGod</p>
				  <p class="color-gray small">เข้าสู่ระบบ</p>
				</div>
			  </a>
			</div>

			<div class="col-4 appStage">
			  <a href="https://www.qms-toyotaparagon.com/#/login">
				<img src="/appLogo/db.png">
				<div class="appName">
				  <p class="mb-0 f-12">DB</p>
				  <p class="color-gray small">เข้าสู่ระบบ</p>
				</div>
			  </a>
			</div>

		</div>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		line-height: 1.6;
	}
	body {
		background-color:rgba(0, 0, 0, 0);
	}
	a {
		text-decoration: none;
		color: black;
	}
	.color-gray {
		color: #aeaeae;
	}
	.appStage img {
		width: 100%;
		height: auto;
	}
	.appStage {
		font-family: Kanit;
		text-align: center;
		padding: 10px;
		font-size: 15px;
	}
	.appName {
		color:#fff;
	}
	.f-12 {
		font-size: 14px;
	}
</style>
